@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@mixin btn {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
}

body {
    background-color: rgb(49, 44, 44);
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

@import "./home";
@import "./map";
@import "./media";

