@media (min-width: 500px) {
    .container > h2 {
        font-size: 1.4rem;
    }
}

@media (min-width: 730px) {
    .container > h2 {
        font-size: 2rem;
    }
    .route-info-wrapper {
        width: 300px;
        top: 25px;
        right: 25px;
        transform: translate(0px, 0px);
        transition: 0s;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .route-info-wrapper.open {
        transform: none;
    }
    .switch-btn {
        display: none;
    }
    .rate-wrapper {
        width: 70%;
    }
}