@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@mixin btn {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
}

body {
    background-color: rgb(49, 44, 44);
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

button {
    border: none;
    color: white;
    transition: 0.2s transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

input:focus {
    outline: none;
}

.leaflet-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h2 {
    font-size: 2rem;
}

.designate {
    display: block;
    @include btn;
    margin-top: 10px;
    width: 250px;
    box-sizing: content-box;
    text-align: center;
    font-size: 1.1rem;
}

.point {
    display: block;
    border: none;
    margin: 15px 0;
    width: 250px;
    font-size: 1.1rem;
    padding: 15px 10px;
    border-radius: 5px;
}

.error {
    min-height: 25px;
    color: rgb(255, 195, 195);
}

.leaflet-top.leaflet-right {
    display: none;
}
.route-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.692);
    position: fixed;
    top: 25px;
    right: 25px;
    border-radius: 5px;
    z-index: 10000;
}

.rate-wrapper {
    width: 70%;
}

.cost-input {
    position: relative;
    width: 100%;
}

.cost-input > input {
    padding: 15px 10px;
    margin: 15px 0;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius: 5px;
}

.cost-input > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    color: black;
    font-size: 1.1rem;
}

.cost-btn {
    @include btn;
    width: 100%;
    font-size: 1rem;
}

.total-distance {
    margin-top: 20px;
    width: 70%;
}

.back {
    position: fixed;
    top: 25px;
    left: 60px;
    padding: 10px 10px;
    border-radius: 5px;
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    z-index: 10000;
}